In [216]:
import pandas as pd
from sqlalchemy import create_engine

In [217]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/Lahman_baseball")

In [218]:
#df = pd.read_sql("SELECT * FROM batting;", con=engine)
#df.head()

## 1a. Find all players in the database who played at Vanderbilt University.
d. Which Vanderbilt player earned the most money in the majors?

### pulling in the data

In [219]:
school=pd.read_sql("SELECT * FROM schools;", con=engine)
people=pd.read_sql("SELECT * FROM people;", con=engine)
college_playing=pd.read_sql("SELECT * FROM collegeplaying;", con=engine)
salaries=pd.read_sql("SELECT * FROM salaries;", con=engine)

In [220]:
merge_college_schools=pd.merge(college_playing,school,how='left',left_on=['schoolid'],right_on = ['schoolid'])
#merge_college_schools

In [221]:
Vandy=merge_college_schools[merge_college_schools['schoolid'] == "vandy"]
#Vandy

In [222]:
#merge with people to get player name
merge_people_Vandy = pd.merge(Vandy,people,  how='left', left_on=['playerid'], right_on = ['playerid'])
#merge_people_Vandy

In [223]:
Vandy=merge_people_Vandy[['namelast','namefirst']]

Vandy=Vandy.drop_duplicates()
Vandy=Vandy.set_index('namelast')
Vandy

           namefirst
namelast
Alvarez        Pedro
Baxter          Mike
Christiani      Nick
Collins       Wilson
Cora            Joey
Embry           Slim
Flaherty        Ryan
Gray           Sonny
Hendrick      Harvey
Kata            Matt
Lewis         Jensen
Madison       Scotti
Minor           Mike
Moore        Scrappy
Moss             Mal
Paul            Josh
Price          David
Prior           Mark
Richardson    Antoan
Sanderson      Scott
Sewell           Rip
Sowers        Jeremy
Willis          Mike
Zeid            Josh

### 1b. Create a list showing each playerâ€™s first and last names as well as the total salary they earned in the major leagues.

##### merge _people_vandy df with salaries

In [224]:
#adding playerid back in to merge with salaries
Vandy_people=merge_people_Vandy[['playerid','namelast','namefirst']]
Vandy_people=Vandy_people.drop_duplicates()
#Vandy_people

In [225]:
Vandy_salaries = pd.merge(Vandy_people,salaries, how='inner', left_on = ['playerid'], right_on = ['playerid'])
#Vandy_salaries

In [226]:
Vandy_salaries.drop(labels=['yearid','lgid','teamid'],axis=1,inplace=True)
#Vandy_salaries

In [227]:
Vandy_salaries=Vandy_salaries.groupby(['playerid','namelast','namefirst']).sum()
#Vandy_salaries

### 1c. Sort this list in descending order by the total salary earned. d. Which Vanderbilt player earned the most money in the majors?

In [228]:
## david price at Vandy_people.nlargest(1)

In [229]:
Vandy_salaries.sort_values('salary',ascending=False)

                                    salary
playerid  namelast   namefirst
priceda01 Price      David      81851296.0
alvarpe01 Alvarez    Pedro      20681704.0
priorma01 Prior      Mark       12800000.0
sandesc01 Sanderson  Scott      10750000.0
minormi01 Minor      Mike        6837500.0
corajo01  Cora       Joey        5622500.0
flahery01 Flaherty   Ryan        4061000.0
pauljo01  Paul       Josh        2640000.0
baxtemi01 Baxter     Mike        2094418.0
grayso01  Gray       Sonny       1542500.0
lewisje01 Lewis      Jensen      1234000.0
katama01  Kata       Matt        1060000.0
chrisni01 Christiani Nick         500000.0
sowerje01 Sowers     Jeremy       384800.0
madissc01 Madison    Scotti       135000.0

### 2. Using the fielding table, group players into three groups based on their position: label players with position OF as "Outfield", those with position "SS", "1B", "2B", and "3B" as "Infield", and those with position "P" or "C" as "Battery". Determine the number of putouts made by each of these three groups in 2016.

In [230]:
##import fielding table
fielding=pd.read_sql("SELECT * FROM fielding;", con=engine)
#fielding

In [231]:
Position=[]
for i in fielding['pos']:
    if i == 'OF':
        Position.append('Outfield')
    elif i in['SS','1B','2B','3B']:
        Position.append('Infield')
    elif i in ['P','C']:
        Position.append('Battery')
    else:
        Position.append('none')  #make sure all have a value
#len(Position)

In [232]:
fielding['Position'] = Position
fielding=fielding[['playerid','Position','yearid']]
#fielding

In [233]:
fielding2016=fielding[fielding['yearid'] == 2016]
fielding2016

         playerid  Position  yearid
134862   abadfe01   Battery    2016
134863   abadfe01   Battery    2016
134864  abreujo02   Infield    2016
134865  achteaj01   Battery    2016
134866  ackledu01   Infield    2016
...           ...       ...     ...
136810  zobribe01   Infield    2016
136811  zobribe01  Outfield    2016
136812  zobribe01   Infield    2016
136813  zuninmi01   Battery    2016
136814   zychto01   Battery    2016

[1953 rows x 3 columns]

In [234]:
fielding2016.drop(labels=['yearid','playerid'],axis=1,inplace=True)
fielding2016

C:\Users\dhoza\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        Position
134862   Battery
134863   Battery
134864   Infield
134865   Battery
134866   Infield
...          ...
136810   Infield
136811  Outfield
136812   Infield
136813   Battery
136814   Battery

[1953 rows x 1 columns]

In [235]:
fielding2016.groupby(['Position']).size()

Position
Battery     938
Infield     661
Outfield    354
dtype: int64

In [236]:
#another way to do it
fielding2016.groupby(['Position'])['Position'].count()

Position
Battery     938
Infield     661
Outfield    354
Name: Position, dtype: int64

### 3a. From 1970 â€“ 2016, what is the largest number of wins for a team that did not win the world series?
b. What is the smallest number of wins for a team that did win the world series?
c. Doing this will probably result in an unusually small number of wins for a world series champion â€“ determine why this is the case.
d. Then redo your query, excluding the problem year.
e. How often from 1970 â€“ 2016 was it the case that a team with the most wins also won the world series?
f. What percentage of the time?

In [237]:
teams=pd.read_sql("SELECT * FROM teams;", con=engine)

In [238]:
years=teams.loc[(teams['yearid']>=1970) & (teams['yearid']<= 2016)& (teams['wswin']=='N')]
#years

In [239]:
years=years[['yearid','teamid','w']]
years.sort_values('w',ascending=False)
#SEA at 116

      yearid teamid    w
2379    2001    SEA  116
2267    1998    ATL  106
2471    2004    SLN  105
2125    1993    ATL  104
2012    1988    OAK  104
...      ...    ...  ...
1825    1981    MIN   41
1829    1981    NYN   41
1833    1981    SDN   41
1818    1981    CHN   38
1838    1981    TOR   37

[1220 rows x 3 columns]

### 3b. What is the smallest number of wins for a team that did win the world series?

In [240]:
didwin=teams.loc[(teams['yearid']>=1970) & (teams['yearid']<= 2016)& (teams['wswin']=='Y')]
#didwin

In [241]:
didwin=didwin[['yearid','teamid','w']]
didwin.sort_values('w',ascending=True)
#LAN with 63 wins

      yearid teamid    w
1824    1981    LAN   63
2530    2006    SLN   83
1981    1987    MIN   85
2343    2000    NYA   87
2769    2014    SFN   88
1654    1974    OAK   90
2181    1995    ATL   90
2680    2011    SLN   90
2053    1990    CIN   91
2426    2003    FLO   91
1927    1985    KCA   91
1805    1980    PHI   91
2649    2010    SFN   92
2585    2008    PHI   92
1862    1982    SLN   92
2356    2001    ARI   92
2247    1997    FLO   92
2226    1996    NYA   92
1606    1972    OAK   93
2709    2012    SFN   94
1630    1973    OAK   94
2006    1988    LAN   94
2085    1991    MIN   95
2786    2015    KCA   95
2152    1993    TOR   95
2538    2007    BOS   96
2124    1992    TOR   96
1584    1971    PIT   97
2718    2013    BOS   97
1866    1983    BAL   98
2313    1999    NYA   98
1780    1979    PIT   98
2449    2004    BOS   98
2385    2002    ANA   99
2479    2005    CHA   99
2038    1989    OAK   99
1750    1978    NYA  100
1724    1977    NYA  100
1691    1976    CIN  102
2810    2016    CHN  103
2612    2009    NYA  103
1899    1984    DET  104
1959    1986    NYN  108
1667    1975    CIN  108
1542    1970    BAL  108
2283    1998    NYA  114

### 3c. Doing this will probably result in an unusually small number of wins for a world series champion â€“ determine why this is the case.
### 3d. Then redo your query, excluding the problem year.

In [242]:
not1981=teams.loc[(teams['yearid']>=1970) & (teams['yearid']<= 2016)& (teams['yearid']!=1981)&(teams['wswin']=='Y')]
not1981

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
1542,1970,AL,BAL,BAL,E,1,162,81.0,108,54,...,148.0,0.981,Baltimore Orioles,Memorial Stadium,1057069.0,101,98,BAL,BAL,BAL
1584,1971,NL,PIT,PIT,E,1,162,80.0,97,65,...,164.0,0.979,Pittsburgh Pirates,Three Rivers Stadium,1501132.0,102,100,PIT,PIT,PIT
1606,1972,AL,OAK,OAK,W,1,155,77.0,93,62,...,146.0,0.979,Oakland Athletics,Oakland Coliseum,921323.0,95,93,OAK,OAK,OAK
1630,1973,AL,OAK,OAK,W,1,162,81.0,94,68,...,170.0,0.978,Oakland Athletics,Oakland Coliseum,1000763.0,95,93,OAK,OAK,OAK
1654,1974,AL,OAK,OAK,W,1,162,81.0,90,72,...,154.0,0.977,Oakland Athletics,Oakland Coliseum,845693.0,94,92,OAK,OAK,OAK
1667,1975,NL,CIN,CIN,W,1,162,81.0,108,54,...,173.0,0.984,Cincinnati Reds,Riverfront Stadium,2315603.0,102,99,CIN,CIN,CIN
1691,1976,NL,CIN,CIN,W,1,162,81.0,102,60,...,157.0,0.984,Cincinnati Reds,Riverfront Stadium,2629708.0,102,100,CIN,CIN,CIN
1724,1977,AL,NYA,NYY,E,1,162,81.0,100,62,...,151.0,0.979,New York Yankees,Yankee Stadium II,2103092.0,99,97,NYY,NYA,NYA
1750,1978,AL,NYA,NYY,E,1,163,81.0,100,63,...,134.0,0.982,New York Yankees,Yankee Stadium II,2335871.0,97,96,NYY,NYA,NYA
1780,1979,NL,PIT,PIT,E,1,163,81.0,98,64,...,163.0,0.979,Pittsburgh Pirates,Three Rivers Stadium,1435454.0,105,105,PIT,PIT,PIT
1805,1980,NL,PHI,PHI,E,1,162,81.0,91,71,...,136.0,0.979,Philadelphia Phillies,Veterans Stadium,2651650.0,105,105,PHI,PHI,PHI
1862,1982,NL,SLN,STL,E,1,162,81.0,92,70,...,169.0,0.981,St. Louis Cardinals,Busch Stadium II,2111906.0,101,101,STL,SLN,SLN
1866,1983,AL,BAL,BAL,E,1,162,81.0,98,64,...,159.0,0.981,Baltimore Orioles,Memorial Stadium,2042071.0,98,98,BAL,BAL,BAL
1899,1984,AL,DET,DET,E,1,162,82.0,104,58,...,162.0,0.980,Detroit Tigers,Tiger Stadium,2704794.0,100,98,DET,DET,DET
1927,1985,AL,KCA,KCR,W,1,162,82.0,91,71,...,160.0,0.980,Kansas City Royals,Royals Stadium,2162717.0,100,100,KCR,KCA,KCA
1959,1986,NL,NYN,NYM,E,1,162,81.0,108,54,...,145.0,0.978,New York Mets,Shea Stadium,2767601.0,98,96,NYM,NYN,NYN
1981,1987,AL,MIN,MIN,W,1,162,81.0,85,77,...,147.0,0.984,Minnesota Twins,Hubert H Humphrey Metrodome,2081976.0,103,103,MIN,MIN,MIN
2006,1988,NL,LAN,LAD,W,1,162,81.0,94,67,...,126.0,0.977,Los Angeles Dodgers,Dodger Stadium,2980262.0,98,97,LAD,LAN,LAN
2038,1989,AL,OAK,OAK,W,1,162,81.0,99,63,...,159.0,0.979,Oakland Athletics,Oakland Coliseum,2667225.0,97,95,OAK,OAK,OAK
2053,1990,NL,CIN,CIN,W,1,162,81.0,91,71,...,126.0,0.983,Cincinnati Reds,Riverfront Stadium,2400892.0,105,105,CIN,CIN,CIN
2085,1991,AL,MIN,MIN,W,1,162,81.0,95,67,...,161.0,0.985,Minnesota Twins,Hubert H Humphrey Metrodome,2293842.0,105,104,MIN,MIN,MIN
2124,1992,AL,TOR,TOR,E,1,162,81.0,96,66,...,109.0,0.985,Toronto Blue Jays,Skydome,4028318.0,105,104,TOR,TOR,TOR
2152,1993,AL,TOR,TOR,E,1,162,81.0,95,67,...,144.0,0.982,Toronto Blue Jays,Skydome,4057947.0,101,100,TOR,TOR,TOR
2181,1995,NL,ATL,ATL,E,1,144,72.0,90,54,...,113.0,0.982,Atlanta Braves,Atlanta-Fulton County Stadium,2561831.0,103,102,ATL,ATL,ATL
2226,1996,AL,NYA,NYY,E,1,162,80.0,92,70,...,146.0,0.985,New York Yankees,Yankee Stadium II,2250877.0,101,100,NYY,NYA,NYA
2247,1997,NL,FLO,FLA,E,2,162,81.0,92,70,...,167.0,0.981,Florida Marlins,Joe Robbie Stadium,2364387.0,95,96,FLA,FLO,FLO
2283,1998,AL,NYA,NYY,E,1,162,81.0,114,48,...,146.0,0.984,New York Yankees,Yankee Stadium II,2955193.0,97,95,NYY,NYA,NYA
2313,1999,AL,NYA,NYY,E,1,162,81.0,98,64,...,130.0,0.982,New York Yankees,Yankee Stadium II,3292736.0,98,97,NYY,NYA,NYA
2343,2000,AL,NYA,NYY,E,1,161,80.0,87,74,...,132.0,0.981,New York Yankees,Yankee Stadium II,3055435.0,99,98,NYY,NYA,NYA
2356,2001,NL,ARI,ARI,W,1,162,81.0,92,70,...,148.0,0.986,Arizona Diamondbacks,Bank One Ballpark,2736451.0,108,107,ARI,ARI,ARI
2385,2002,AL,ANA,ANA,W,2,162,81.0,99,63,...,151.0,0.986,Anaheim Angels,Edison International Field,2305547.0,100,99,ANA,ANA,ANA
2426,2003,NL,FLO,FLA,E,2,162,81.0,91,71,...,162.0,0.987,Florida Marlins,Pro Player Stadium,1303215.0,98,98,FLA,FLO,FLO
2449,2004,AL,BOS,BOS,E,2,162,81.0,98,64,...,129.0,0.981,Boston Red Sox,Fenway Park II,2837294.0,106,105,BOS,BOS,BOS
2479,2005,AL,CHA,CHW,C,1,162,81.0,99,63,...,166.0,0.985,Chicago White Sox,U.S. Cellular Field,2342833.0,103,103,CHW,CHA,CHA
2530,2006,NL,SLN,STL,C,1,161,80.0,83,78,...,170.0,0.984,St. Louis Cardinals,Busch Stadium III,3407104.0,99,99,STL,SLN,SLN
2538,2007,AL,BOS,BOS,E,1,162,81.0,96,66,...,145.0,0.986,Boston Red Sox,Fenway Park II,2970755.0,106,105,BOS,BOS,BOS
2585,2008,NL,PHI,PHI,E,1,162,81.0,92,70,...,142.0,0.985,Philadelphia Phillies,Citizens Bank Park,3422583.0,103,102,PHI,PHI,PHI
2612,2009,AL,NYA,NYY,E,1,162,81.0,103,59,...,131.0,0.985,New York Yankees,Yankee Stadium III,3719358.0,105,103,NYY,NYA,NYA
2649,2010,NL,SFN,SFG,W,1,162,81.0,92,70,...,110.0,0.988,San Francisco Giants,AT&T Park,3037443.0,101,101,SFG,SFN,SFN
2680,2011,NL,SLN,STL,C,2,162,81.0,90,72,...,167.0,0.982,St. Louis Cardinals,Busch Stadium III,3093954.0,95,94,STL,SLN,SLN
2709,2012,NL,SFN,SFG,W,1,162,81.0,94,68,...,134.0,0.981,San Francisco Giants,AT&T Park,3377371.0,88,88,SFG,SFN,SFN
2718,2013,AL,BOS,BOS,E,1,162,81.0,97,65,...,142.0,0.987,Boston Red Sox,Fenway Park II,2833333.0,102,102,BOS,BOS,BOS
2769,2014,NL,SFN,SFG,W,2,162,81.0,88,74,...,155.0,0.984,San Francisco Giants,AT&T Park,3368697.0,95,95,SFG,SFN,SFN
2786,2015,AL,KCA,KCR,C,1,162,81.0,95,67,...,138.0,0.985,Kansas City Royals,Kauffman Stadium,2708549.0,104,103,KCR,KCA,KCA
2810,2016,NL,CHN,CHC,C,1,162,81.0,103,58,...,116.0,0.983,Chicago Cubs,Wrigley Field,3232420.0,95,93,CHC,CHN,CHN

In [243]:
not1981=not1981[['yearid','teamid','w']]
not1981.sort_values('w',ascending=True)

      yearid teamid    w
2530    2006    SLN   83
1981    1987    MIN   85
2343    2000    NYA   87
2769    2014    SFN   88
1654    1974    OAK   90
2680    2011    SLN   90
2181    1995    ATL   90
1805    1980    PHI   91
2053    1990    CIN   91
2426    2003    FLO   91
1927    1985    KCA   91
2585    2008    PHI   92
2226    1996    NYA   92
2649    2010    SFN   92
1862    1982    SLN   92
2356    2001    ARI   92
2247    1997    FLO   92
1606    1972    OAK   93
2709    2012    SFN   94
2006    1988    LAN   94
1630    1973    OAK   94
2786    2015    KCA   95
2152    1993    TOR   95
2085    1991    MIN   95
2538    2007    BOS   96
2124    1992    TOR   96
2718    2013    BOS   97
1584    1971    PIT   97
1866    1983    BAL   98
1780    1979    PIT   98
2313    1999    NYA   98
2449    2004    BOS   98
2385    2002    ANA   99
2479    2005    CHA   99
2038    1989    OAK   99
1750    1978    NYA  100
1724    1977    NYA  100
1691    1976    CIN  102
2810    2016    CHN  103
2612    2009    NYA  103
1899    1984    DET  104
1959    1986    NYN  108
1667    1975    CIN  108
1542    1970    BAL  108
2283    1998    NYA  114

### 3e. How often from 1970 â€“ 2016 was it the case that a team with the most wins also won the world series?
### 3f. What percentage of the time?

In [244]:
years3e=teams.loc[(teams['yearid']>=1970) & (teams['yearid']<= 2016)]
#years3e.sort_values('w',ascending=False)
#years3e.sort_values('teamid',ascending=False)
winsWS=years3e[['teamid','w','wswin']]
winsWS

     teamid    w wswin
1541    ATL   76     N
1542    BAL  108     Y
1543    BOS   87     N
1544    CAL   86     N
1545    CHA   56     N
...     ...  ...   ...
2830    SLN   86     N
2831    TBA   68     N
2832    TEX   95     N
2833    TOR   89     N
2834    WAS   95     N

[1294 rows x 3 columns]

In [245]:
#winsWS.sort_values('teamid',ascending=False)
winsWS=winsWS.groupby(['teamid','wswin'],as_index=False).sum()
winsWS
#winsWS.sort_values('w',ascending=False)

   teamid wswin     w
0     ANA     N   565
1     ANA     Y    99
2     ARI     N  1411
3     ARI     Y    92
4     ATL     N  3680
5     ATL     Y    90
6     BAL     N  3546
7     BAL     Y   206
8     BOS     N  3692
9     BOS     Y   291
10    CAL     N  2016
11    CHA     N  3559
12    CHA     Y    99
13    CHN     N  3460
14    CHN     Y   103
15    CIN     N  3492
16    CIN     Y   301
17    CLE     N  3589
18    COL     N  1731
19    DET     N  3509
20    DET     Y   104
21    FLO     N  1201
22    FLO     Y   183
23    HOU     N  3669
24    KCA     N  3385
25    KCA     Y   186
26    LAA     N  1065
27    LAN     N  3796
28    LAN     Y   157
29    MIA     N   358
30    MIL     N  1442
31    MIN     N  3394
32    MIN     Y   180
33    ML4     N  2083
34    MON     N  2629
35    NYA     N  3425
36    NYA     Y   694
37    NYN     N  3558
38    NYN     Y   108
39    OAK     N  3447
40    OAK     Y   376
41    PHI     N  3500
42    PHI     Y   183
43    PIT     N  3421
44    PIT     Y   195
45    SDN     N  3441
46    SEA     N  2935
47    SFN     N  3490
48    SFN     Y   274
49    SLN     N  3615
50    SLN     Y   265
51    TBA     N  1420
52    TEX     N  3485
53    TOR     N  2921
54    TOR     Y   191
55    WAS     N   950
56    WS2     N   133

In [246]:
sumwins=winsWS.groupby(['teamid'],as_index=False).sum()

In [247]:
##team with the most wins
sumwins.sort_values('w',ascending=False)

   teamid     w
22    NYA  4119
4     BOS  3983
16    LAN  3953
30    SLN  3880
24    OAK  3823
8     CIN  3793
2     ATL  3770
29    SFN  3764
3     BAL  3752
25    PHI  3683
13    HOU  3669
23    NYN  3666
6     CHA  3658
26    PIT  3616
11    DET  3613
9     CLE  3589
19    MIN  3574
14    KCA  3571
7     CHN  3563
32    TEX  3485
27    SDN  3441
33    TOR  3112
28    SEA  2935
21    MON  2629
20    ML4  2083
5     CAL  2016
10    COL  1731
1     ARI  1503
18    MIL  1442
31    TBA  1420
12    FLO  1384
15    LAA  1065
34    WAS   950
0     ANA   664
17    MIA   358
35    WS2   133

In [253]:
#how many times did NYA win world series
wswinsNYA=teams.loc[(teams['yearid']>=1970) & (teams['yearid']<= 2016)& (teams['yearid']!=1981)]
wswinsNYA

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
1541,1970,NL,ATL,ATL,W,5,162,81.0,76,86,...,118.0,0.977,Atlanta Braves,Atlanta-Fulton County Stadium,1078848.0,106,106,ATL,ATL,ATL
1542,1970,AL,BAL,BAL,E,1,162,81.0,108,54,...,148.0,0.981,Baltimore Orioles,Memorial Stadium,1057069.0,101,98,BAL,BAL,BAL
1543,1970,AL,BOS,BOS,E,3,162,81.0,87,75,...,131.0,0.974,Boston Red Sox,Fenway Park II,1595278.0,108,107,BOS,BOS,BOS
1544,1970,AL,CAL,ANA,W,3,162,81.0,86,76,...,169.0,0.980,California Angels,Anaheim Stadium,1077741.0,96,97,CAL,CAL,CAL
1545,1970,AL,CHA,CHW,W,6,162,84.0,56,106,...,187.0,0.975,Chicago White Sox,Comiskey Park,495355.0,101,102,CHW,CHA,CHA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2830,2016,NL,SLN,STL,C,2,162,81.0,86,76,...,169.0,0.983,St. Louis Cardinals,Busch Stadium III,3444490.0,100,99,STL,SLN,SLN
2831,2016,AL,TBA,TBD,E,5,162,81.0,68,94,...,129.0,0.984,Tampa Bay Rays,Tropicana Field,1286163.0,93,94,TBR,TBA,TBA
2832,2016,AL,TEX,TEX,W,1,162,81.0,95,67,...,190.0,0.984,Texas Rangers,Rangers Ballpark in Arlington,2710402.0,106,105,TEX,TEX,TEX
2833,2016,AL,TOR,TOR,E,2,162,81.0,89,73,...,144.0,0.986,Toronto Blue Jays,Rogers Centre,3392099.0,111,110,TOR,TOR,TOR
2834,2016,NL,WAS,WSN,E,1,162,81.0,95,67,...,142.0,0.988,Washington Nationals,Nationals Park,2481938.0,100,98,WSN,MON,WAS

In [254]:
wswinsNYA=wswinsNYA.loc[(wswinsNYA['teamid']=='NYA')]
wswinsNYA

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
1556,1970,AL,NYA,NYY,E,2,163,81.0,93,69,...,146.0,0.980,New York Yankees,Yankee Stadium I,1136879.0,95,95,NYY,NYA,NYA
1580,1971,AL,NYA,NYY,E,4,162,81.0,82,80,...,159.0,0.981,New York Yankees,Yankee Stadium I,1070771.0,94,94,NYY,NYA,NYA
1604,1972,AL,NYA,NYY,E,4,155,77.0,79,76,...,179.0,0.978,New York Yankees,Yankee Stadium I,966328.0,97,96,NYY,NYA,NYA
1628,1973,AL,NYA,NYY,E,4,162,81.0,80,82,...,172.0,0.976,New York Yankees,Yankee Stadium I,1262103.0,97,96,NYY,NYA,NYA
1652,1974,AL,NYA,NYY,E,2,162,81.0,89,73,...,158.0,0.977,New York Yankees,Shea Stadium,1273075.0,99,98,NYY,NYA,NYA
1676,1975,AL,NYA,NYY,E,3,160,78.0,83,77,...,148.0,0.978,New York Yankees,Shea Stadium,1288048.0,99,98,NYY,NYA,NYA
1700,1976,AL,NYA,NYY,E,1,159,80.0,97,62,...,141.0,0.980,New York Yankees,Yankee Stadium II,2012434.0,100,98,NYY,NYA,NYA
1724,1977,AL,NYA,NYY,E,1,162,81.0,100,62,...,151.0,0.979,New York Yankees,Yankee Stadium II,2103092.0,99,97,NYY,NYA,NYA
1750,1978,AL,NYA,NYY,E,1,163,81.0,100,63,...,134.0,0.982,New York Yankees,Yankee Stadium II,2335871.0,97,96,NYY,NYA,NYA
1776,1979,AL,NYA,NYY,E,4,160,81.0,89,71,...,183.0,0.981,New York Yankees,Yankee Stadium II,2537765.0,98,96,NYY,NYA,NYA
1802,1980,AL,NYA,NYY,E,1,162,81.0,103,59,...,160.0,0.978,New York Yankees,Yankee Stadium II,2627417.0,98,97,NYY,NYA,NYA
1854,1982,AL,NYA,NYY,E,5,162,81.0,79,83,...,158.0,0.979,New York Yankees,Yankee Stadium II,2041219.0,98,97,NYY,NYA,NYA
1880,1983,AL,NYA,NYY,E,3,162,81.0,91,71,...,157.0,0.978,New York Yankees,Yankee Stadium II,2257976.0,96,95,NYY,NYA,NYA
1906,1984,AL,NYA,NYY,E,3,162,81.0,87,75,...,177.0,0.977,New York Yankees,Yankee Stadium II,1821815.0,96,95,NYY,NYA,NYA
1932,1985,AL,NYA,NYY,E,2,161,80.0,97,64,...,172.0,0.979,New York Yankees,Yankee Stadium II,2214587.0,98,97,NYY,NYA,NYA
1958,1986,AL,NYA,NYY,E,2,162,80.0,90,72,...,153.0,0.979,New York Yankees,Yankee Stadium II,2268030.0,99,98,NYY,NYA,NYA
1984,1987,AL,NYA,NYY,E,4,162,81.0,89,73,...,155.0,0.983,New York Yankees,Yankee Stadium II,2427672.0,99,99,NYY,NYA,NYA
2010,1988,AL,NYA,NYY,E,5,161,80.0,85,76,...,161.0,0.978,New York Yankees,Yankee Stadium II,2633701.0,99,100,NYY,NYA,NYA
2036,1989,AL,NYA,NYY,E,5,161,81.0,74,87,...,183.0,0.980,New York Yankees,Yankee Stadium II,2170485.0,99,99,NYY,NYA,NYA
2062,1990,AL,NYA,NYY,E,7,162,81.0,67,95,...,164.0,0.980,New York Yankees,Yankee Stadium II,2006436.0,100,102,NYY,NYA,NYA
2088,1991,AL,NYA,NYY,E,5,162,81.0,71,91,...,181.0,0.979,New York Yankees,Yankee Stadium II,1863733.0,100,101,NYY,NYA,NYA
2114,1992,AL,NYA,NYY,E,4,162,81.0,76,86,...,165.0,0.982,New York Yankees,Yankee Stadium II,1748737.0,100,100,NYY,NYA,NYA
2142,1993,AL,NYA,NYY,E,2,162,81.0,88,74,...,166.0,0.984,New York Yankees,Yankee Stadium II,2416942.0,97,96,NYY,NYA,NYA
2170,1994,AL,NYA,NYY,E,1,113,57.0,70,43,...,122.0,0.982,New York Yankees,Yankee Stadium II,1675556.0,97,96,NYY,NYA,NYA
2198,1995,AL,NYA,NYY,E,2,145,73.0,79,65,...,121.0,0.986,New York Yankees,Yankee Stadium II,1705263.0,99,98,NYY,NYA,NYA
2226,1996,AL,NYA,NYY,E,1,162,80.0,92,70,...,146.0,0.985,New York Yankees,Yankee Stadium II,2250877.0,101,100,NYY,NYA,NYA
2254,1997,AL,NYA,NYY,E,2,162,80.0,96,66,...,156.0,0.983,New York Yankees,Yankee Stadium II,2580325.0,100,98,NYY,NYA,NYA
2283,1998,AL,NYA,NYY,E,1,162,81.0,114,48,...,146.0,0.984,New York Yankees,Yankee Stadium II,2955193.0,97,95,NYY,NYA,NYA
2313,1999,AL,NYA,NYY,E,1,162,81.0,98,64,...,130.0,0.982,New York Yankees,Yankee Stadium II,3292736.0,98,97,NYY,NYA,NYA
2343,2000,AL,NYA,NYY,E,1,161,80.0,87,74,...,132.0,0.981,New York Yankees,Yankee Stadium II,3055435.0,99,98,NYY,NYA,NYA
2373,2001,AL,NYA,NYY,E,1,161,80.0,95,65,...,132.0,0.982,New York Yankees,Yankee Stadium II,3264907.0,102,100,NYY,NYA,NYA
2403,2002,AL,NYA,NYY,E,1,161,80.0,103,58,...,117.0,0.979,New York Yankees,Yankee Stadium II,3465807.0,100,99,NYY,NYA,NYA
2433,2003,AL,NYA,NYY,E,1,163,82.0,101,61,...,126.0,0.981,New York Yankees,Yankee Stadium II,3465600.0,98,97,NYY,NYA,NYA
2463,2004,AL,NYA,NYY,E,1,162,81.0,101,61,...,148.0,0.984,New York Yankees,Yankee Stadium II,3775292.0,98,97,NYY,NYA,NYA
2492,2005,AL,NYA,NYY,E,1,162,81.0,95,67,...,151.0,0.984,New York Yankees,Yankee Stadium II,4090696.0,98,97,NYY,NYA,NYA
2522,2006,AL,NYA,NYY,E,1,162,81.0,97,65,...,145.0,0.983,New York Yankees,Yankee Stadium II,4248067.0,101,99,NYY,NYA,NYA
2552,2007,AL,NYA,NYY,E,2,162,81.0,94,68,...,174.0,0.985,New York Yankees,Yankee Stadium II,4271083.0,101,100,NYY,NYA,NYA
2582,2008,AL,NYA,NYY,E,3,162,81.0,89,73,...,141.0,0.986,New York Yankees,Yankee Stadium II,4298655.0,103,102,NYY,NYA,NYA
2612,2009,AL,NYA,NYY,E,1,162,81.0,103,59,...,131.0,0.985,New York Yankees,Yankee Stadium III,3719358.0,105,103,NYY,NYA,NYA
2642,2010,AL,NYA,NYY,E,2,162,81.0,95,67,...,161.0,0.988,New York Yankees,Yankee Stadium III,3765807.0,105,103,NYY,NYA,NYA
2672,2011,AL,NYA,NYY,E,1,162,81.0,97,65,...,141.0,0.983,New York Yankees,Yankee Stadium III,3653680.0,108,106,NYY,NYA,NYA
2702,2012,AL,NYA,NYY,E,1,162,81.0,95,67,...,135.0,0.987,New York Yankees,Yankee Stadium III,3542406.0,103,102,NYY,NYA,NYA
2732,2013,AL,NYA,NYY,E,4,162,81.0,85,77,...,139.0,0.988,New York Yankees,Yankee Stadium III,3279589.0,102,101,NYY,NYA,NYA
2762,2014,AL,NYA,NYY,E,2,162,81.0,84,78,...,107.0,0.984,New York Yankees,Yankee Stadium III,3401624.0,100,101,NYY,NYA,NYA
2792,2015,AL,NYA,NYY,E,2,162,81.0,87,75,...,135.0,0.985,New York Yankees,Yankee Stadium III,3193795.0,99,101,NYY,NYA,NYA
2822,2016,AL,NYA,NYY,E,4,162,81.0,84,78,...,116.0,0.985,New York Yankees,Yankee Stadium III,3063405.0,105,105,NYY,NYA,NYA

In [255]:
#number of world series wins
print(wswinsNYA[wswinsNYA.wswin=='Y'].shape[0])

7

In [256]:
#number world series losses
print(wswinsNYA[wswinsNYA.wswin=='N'].shape[0])

38

### 4. Which managers have won the TSN Manager of the Year award in both the National League (NL) and the American League (AL)? Give their full name and the teams that they were managing when they won the award.

In [258]:
awardsmanagers=pd.read_sql("SELECT * FROM awardsmanagers;", con=engine)
managers=pd.read_sql("SELECT * FROM managers;", con=engine)

In [259]:
awardsmanagers

      playerid                    awardid  yearid lgid   tie notes
0    larusto01  BBWAA Manager of the Year    1983   AL  None  None
1    lasorto01  BBWAA Manager of the Year    1983   NL  None  None
2    andersp01  BBWAA Manager of the Year    1984   AL  None  None
3     freyji99  BBWAA Manager of the Year    1984   NL  None  None
4      coxbo01  BBWAA Manager of the Year    1985   AL  None  None
..         ...                        ...     ...  ...   ...   ...
174  willima04  BBWAA Manager of the Year    2014   NL  None  None
175  banisje01  BBWAA Manager of the Year    2015   AL  None  None
176  maddojo99  BBWAA Manager of the Year    2015   NL  None  None
177  francte01  BBWAA Manager of the Year    2016   AL  None    \t
178  roberda07  BBWAA Manager of the Year    2016   NL  None  None

[179 rows x 6 columns]

In [261]:
tsn=awardsmanagers[awardsmanagers['awardid']=='TSN Manager of the Year']
tsn

      playerid                  awardid  yearid lgid   tie notes
63   mccarjo99  TSN Manager of the Year    1936   ML  None  None
64   mckecbi01  TSN Manager of the Year    1937   ML  None  None
65   mccarjo99  TSN Manager of the Year    1938   ML  None  None
66   durocle01  TSN Manager of the Year    1939   ML  None  None
67   mckecbi01  TSN Manager of the Year    1940   ML  None  None
..         ...                      ...     ...  ...   ...   ...
168  hurdlcl01  TSN Manager of the Year    2013   NL  None  None
169  showabu99  TSN Manager of the Year    2014   AL  None  None
170  willima04  TSN Manager of the Year    2014   NL  None  None
171  molitpa01  TSN Manager of the Year    2015   AL  None  None
172  collite99  TSN Manager of the Year    2015   NL  None  None

[110 rows x 6 columns]

In [ ]:
alnl=tsn[tsn[]]